<style type="text/css">td {
	  text-align: center;
	}
	.tdh {text-align: center;font-weight:bold;}
	.msg {text-align: center;}
	.ok {text-align: center;font-weight:bold;color:green;}
	.partial {text-align: center;font-weight:bold;color:orange;}
	.ass {text-align: center;}
	.ortho {text-align: center;}
	.thes {text-align: center;}
	span.small {
	  font-size: smaller;
	}
</style>
<p>√= OK (up to date), P=partialy (not updated for a long time)</p>

<table border="1" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td class="tdh">ISO<br />
			639-2</td>
			<td class="tdh">Language</td>
			<td class="tdh">Msg</td>
			<td class="tdh">Ass</td>
			<td class="tdh">Ortho</td>
			<td class="tdh">Thes</td>
		</tr>
		<tr>
			<td>bg</td>
			<td>български (Bulgarian)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>ca</td>
			<td>Català (Catalan)</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>cs</td>
			<td>Cesky (Czech)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>dk</td>
			<td>Dansk (Danish)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>en</td>
			<td>English (GB, US)</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>es</td>
			<td>Español (Spanish)</td>
			<td class="partial">P</td>
			<td class="partial">P</td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>eo</td>
			<td>Espéranto</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>fi</td>
			<td>Suomi (Finnish)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>fr</td>
			<td>Français</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>ge</td>
			<td>Deutsch (German)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>gr</td>
			<td>Ελληνικά (Greek)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>hu</td>
			<td>Magyar (Hungarian)</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>it</td>
			<td>Italiano (Italian)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>iw</td>
			<td>עברית (Hebrew)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>ko</td>
			<td>한국어 (Korean)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>nl</td>
			<td>Dutch (Nederlands)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>pl</td>
			<td>Polszczyzna (Polish)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>pt</td>
			<td>Português (Portuguese)</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
			<td class="ok">√</td>
		</tr>
		<tr>
			<td>ro</td>
			<td>Română (Romanian)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>ru</td>
			<td>Русский (Russian)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>sv</td>
			<td>Svenska (Swedish)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>tr</td>
			<td>Türk (Turkish)</td>
			<td class="msg"></td>
			<td class="ass"></td>
			<td class="ortho"></td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>uk</td>
			<td>український (Ukrainian)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
		<tr>
			<td>zh</td>
			<td>现代标准汉语 (Simplified Chinese)</td>
			<td class="partial">P</td>
			<td class="ass"></td>
			<td class="ok">√</td>
			<td class="thes"></td>
		</tr>
	</tbody>
</table>

<ul>
	<li>Msg: for the user interface</li>
	<li>Ass: for the Assistant</li>
	<li>Ortho: for the dictionnary</li>
	<li>Thes: for the synonyms/antonyms</li>
</ul>